<template>
    <v-app id="app">

        <v-card>
            <v-app-bar color="white">
                <v-toolbar-title> Add New Employee</v-toolbar-title>
                <v-spacer></v-spacer>


                <v-btn icon @click="goBack()">
                    <v-icon>arrow_back</v-icon>
                </v-btn>
            </v-app-bar>

        </v-card>
        <v-card flat color="#EEEEEE" style="margin-top: 10px">
            <v-row>
                <v-col cols="12" lg="6" offset-lg="3">
                    <v-form ref="dataForm">
                        <v-card>
                            <v-card-text>
                                <v-text-field outlined dense tile label="First name"
                                              :rules="[v => !!v || 'First Name is required' ,(v) => /^[a-zA-Z]+(?:[\s.]+[a-zA-Z]+)*$/.test(v)  || 'Invalid name.only letters allowed']"
                                              required v-model="first_name"></v-text-field>
                                <v-text-field outlined dense tile label="Last Name"
                                              :rules="[v => !!v || 'Last Name is required' ,(v) => /^[a-zA-Z]+(?:[\s.]+[a-zA-Z]+)*$/.test(v)  || 'Invalid name.only letters allowed']"
                                              required v-model="last_name"></v-text-field>
                                <v-menu v-model="dobModel" :close-on-content-click="false" :nudge-right="40"
                                        transition="scale-transition" offset-y min-width="auto">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field outlined dense tile hint="Minimum Age should be 18 years old"
                                                      label="Date of birth" v-model="dob"
                                                      :rules="[v => !!v || 'Date of birth is required']" readonly
                                                      v-bind="attrs" v-on="on"></v-text-field>
                                    </template>
                                    <v-date-picker v-model="dob" @input="dobModel = false"
                                                   :active-picker.sync="activePicker" min="1950-01-01"
                                                   :max="maxDate"></v-date-picker>
                                </v-menu>
                                <v-menu v-model="hireDateModel" :close-on-content-click="false" :nudge-right="40"
                                        transition="scale-transition" offset-y min-width="auto">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field class="teboxr_Data" tile outlined dense v-model="hire_date"
                                                      label="Hire Date" readonly v-bind="attrs" v-on="on"
                                                      :rules="[v => !!v || ' Hire Date is required']"></v-text-field>
                                    </template>
                                    <v-date-picker v-model="hire_date" @input="hireDateModel = false"></v-date-picker>
                                </v-menu>
                                <v-select outlined dense tile label="Gender" required v-model="gender"
                                          :items="['male','female']"
                                          :rules="[v => !!v || 'Gender is required']"></v-select>
                            </v-card-text>

                            <v-card-text>
                                <v-card raised>
                                    <v-card-subtitle>Salaries</v-card-subtitle>
                                    <v-row>
                                        <v-col cols="12" lg="3">
                                            <v-text-field class="teboxr_Data" tile outlined dense
                                                          v-model="salary_amount" type="number"
                                                          label="Amount"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" lg="3">
                                            <v-menu v-model="salary_fromDateModel" :close-on-content-click="false"
                                                    :nudge-right="40" transition="scale-transition" offset-y
                                                    min-width="auto">
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-text-field class="teboxr_Data" tile outlined dense
                                                                  v-model="salary_from_date" label="Salary From Duty"
                                                                  readonly v-bind="attrs" v-on="on"></v-text-field>
                                                </template>
                                                <v-date-picker v-model="salary_from_date"
                                                               @input="salary_fromDateModel = false"></v-date-picker>
                                            </v-menu>
                                        </v-col>
                                        <v-col cols="12" lg="3">
                                            <v-menu v-model="salary_toDateModel" :close-on-content-click="false"
                                                    :nudge-right="40" transition="scale-transition" offset-y
                                                    min-width="auto">
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-text-field class="teboxr_Data" tile outlined dense
                                                                  v-model="salary_to_date" label="Salary To Date"
                                                                  readonly v-bind="attrs" v-on="on"></v-text-field>
                                                </template>
                                                <v-date-picker v-model="salary_to_date"
                                                               @input="salary_toDateModel = false"
                                                               :min="salary_from_date"></v-date-picker>
                                            </v-menu>
                                        </v-col>
                                        <v-col cols="12" lg="3">
                                            <v-btn icon color="primary" @click="addToList('salary')"
                                                   :disabled="!salary_amount || !salary_from_date || !salary_to_date">
                                                <v-icon>add_circle</v-icon>
                                            </v-btn>
                                        </v-col>
                                    </v-row>
                                    <v-simple-table>
                                        <thead>
                                        <tr>
                                            <th>Amount</th>
                                            <th>From Date</th>
                                            <th>To Date</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(item,key) in salaries">
                                            <td>{{ item.amount }}</td>
                                            <td>{{ item.from_date }}</td>
                                            <td>{{ item.to_date }}</td>
                                            <td>
                                                <v-btn xs color="error" icon @click="delete_from_list(key,'salary')">
                                                    <v-icon>delete</v-icon>
                                                </v-btn>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </v-simple-table>
                                </v-card>
                            </v-card-text>

                            <v-card-text>
                                <v-card raised>
                                    <v-card-subtitle>Designations</v-card-subtitle>
                                    <v-row>
                                        <v-col cols="12" lg="3">
                                            <v-text-field class="teboxr_Data" tile outlined dense
                                                          v-model="designation_title" label="Title"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" lg="3">
                                            <v-menu v-model="designation_fromDateModel" :close-on-content-click="false"
                                                    :nudge-right="40" transition="scale-transition" offset-y
                                                    min-width="auto">
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-text-field class="teboxr_Data" tile outlined dense
                                                                  v-model="designation_from_date"
                                                                  label="Designation From Date" readonly v-bind="attrs"
                                                                  v-on="on"></v-text-field>
                                                </template>
                                                <v-date-picker v-model="designation_from_date"
                                                               @input="designation_fromDateModel = false"></v-date-picker>
                                            </v-menu>
                                        </v-col>
                                        <v-col cols="12" lg="3">
                                            <v-menu v-model="designation_toDateModel" :close-on-content-click="false"
                                                    :nudge-right="40" transition="scale-transition" offset-y
                                                    min-width="auto">
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-text-field class="teboxr_Data" tile outlined dense
                                                                  v-model="designation_to_date"
                                                                  label="Designation To Date" readonly v-bind="attrs"
                                                                  v-on="on"></v-text-field>
                                                </template>
                                                <v-date-picker v-model="designation_to_date"
                                                               @input="designation_toDateModel = false"
                                                               :min="designation_from_date"></v-date-picker>
                                            </v-menu>
                                        </v-col>
                                        <v-col cols="12" lg="3">
                                            <v-btn icon color="primary" @click="addToList('designation')"
                                                   :disabled="!designation_title || !designation_from_date || !designation_to_date">
                                                <v-icon>add_circle</v-icon>
                                            </v-btn>
                                        </v-col>
                                    </v-row>
                                    <v-simple-table>
                                        <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>From Date</th>
                                            <th>To Date</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(item,key) in designations">
                                            <td>{{ item.title }}</td>
                                            <td>{{ item.from_date }}</td>
                                            <td>{{ item.to_date }}</td>
                                            <td>
                                                <v-btn xs color="error" icon
                                                       @click="delete_from_list(key,'designation')">
                                                    <v-icon>delete</v-icon>
                                                </v-btn>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </v-simple-table>
                                </v-card>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn @click="saveData" color="primary" :loading="saveLoader">Save</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-form>
                </v-col>
            </v-row>
        </v-card>


        <v-snackbar v-model="snackbar" :multi-line="false" :color="snackColor">
            {{ snackMessage }}
        </v-snackbar>
        <vue-confirm-dialog></vue-confirm-dialog>

    </v-app>
</template>


<script>

export default {
    name: "AddNewEmployee",
    components: {},
    data: () => {
        return {
            alert: false,
            headers: [
                {text: 'FirstName', value: 'first_name'},
                {text: 'LastName', value: 'last_name'},
                {text: 'DOB', value: 'date_of_birth'},
                {text: 'Gender', value: 'gender'},
                {text: 'HireDate', value: 'hire_date'},
                {text: 'View', value: 'view'},
            ],
            all_employees: [],
            search: '',
            loadingTable: false,
            snackbar: false,
            snackColor: '',
            snackMessage: '',
            snackBarRight: false,
            snackBarTop: false,
            first_name: '',
            last_name: '',
            dob: '',
            dobModel: false,
            activePicker: null,
            hire_date: '',
            hireDateModel: false,
            gender: '',
            saveLoader: false,

            salary_amount: '',
            salary_fromDateModel: false,
            salary_from_date: '',
            salary_toDateModel: false,
            salary_to_date: '',
            salaries: [],

            designation_title: '',
            designation_from_date: '',
            designation_fromDateModel: false,
            designation_to_date: '',
            designation_toDateModel: false,
            designations: [],
        }
    },
    mounted() {


    },
    destroyed() {
        window.removeEventListener('resize', this.handleResize)
    },
    computed: {
        maxDate() {
            const date = new Date();
            date.setFullYear(date.getFullYear() - 18);
            return date.toISOString().substr(0, 10);
        },
    },
    watch: {
        dobModel(val) {
            val && setTimeout(() => (this.activePicker = 'YEAR'))
        },
    },
    created() {

    },
    methods: {
        //---save employee with entered dataset
        saveData() {
            this.saveLoader = true;

            let formData = new FormData();
            formData.append("action", "insert");
            formData.append("first_name", this.first_name);
            formData.append("last_name", this.last_name);
            formData.append("birth_date", this.dob);
            formData.append("gender", this.gender);
            formData.append("hire_date", this.hire_date);
            formData.append("salaries", JSON.stringify(this.salaries));
            formData.append("titles", JSON.stringify(this.designations));

            axios.post('api/employee/cudEmployee', formData)
                .then(response => {
                    if (response.data.http_status === 'success') {
                        this.snackColor = 'success';
                    } else {
                        this.snackColor = 'error';
                    }
                    this.snackMessage = response.data.message;
                    this.snackbar = true;
                    this.saveLoader = false;
                    let that = this;
                    setTimeout(function () {
                        that.$router.back();
                    }, 1000)

                }).catch((error) => {
                this.snackMessage = error;
                this.snackColor = 'error';
                this.snackbar = true;
                this.saveLoader = false;
                console.log(error);// this will log an empty object with an error property
            });
        },
        //-----add salaries and designation to table
        addToList(type) {
            if (type === 'salary') {
                this.salaries.unshift({
                    amount: this.salary_amount,
                    from_date: this.salary_from_date,
                    to_date: this.salary_to_date,
                });
                this.salary_to_date = '';
                this.salary_from_date = '';
                this.salary_amount = '';
            } else {
                this.designations.unshift({
                    title: this.designation_title,
                    from_date: this.designation_from_date,
                    to_date: this.designation_to_date,
                });
                this.designation_title = '';
                this.designation_from_date = '';
                this.designation_to_date = '';
            }
        },
        //----delete designation and salaries
        delete_from_list(index, type) {
            if (type === 'salary') {
                this.salaries.splice(index, 1);
            } else {
                this.designations.splice(index, 1);
            }
        },
        //----redirect back for previous page
        goBack(){
            this.$router.back();
        }
    }

}
</script>

<style>

#app {
    background-color: #EEEEEE;
}
</style>
