<template>
    <v-app id="app">
        <v-container>
            <v-card>
                <v-card-title>
                    Employees
                </v-card-title>
            </v-card>
            <v-card>
                <v-card-text>
                    <v-card-title>
                        <v-text-field
                            v-model="search"
                            append-icon="mdi-magnify"
                            label="Search"
                            single-line
                            hide-details
                            solo></v-text-field>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="primary"
                            fab
                            small
                            dark
                            :to="{ path: '/AddNewEmployee'}"
                        >
                            <v-icon>mdi-plus</v-icon>
                        </v-btn>
                    </v-card-title>
                    <v-data-table
                        :loading="loadingTable"
                        :headers="headers"
                        :items="all_employees"
                        :items-per-page="7"
                        :search="search"
                        class="mt-2"
                    >
                        <template v-slot:item.view="{ item }">
                            <v-btn
                                icon
                                small
                                color="primary"
                                :to="{ path: 'EmployeeProfile/'+item.emp_no}"
                            >
                                <v-icon>info</v-icon>
                            </v-btn>

                        </template>

                        <template v-slot:item.delete="{ item }">
                            <v-btn
                                icon
                                small
                                color="error"
                                @click="deleteEmployee(item.emp_no)"
                            >
                                <v-icon>delete</v-icon>
                            </v-btn>

                        </template>
                    </v-data-table>
                </v-card-text>
            </v-card>
        </v-container>

        <v-snackbar v-model="snackbar" :multi-line="false" :color="snackColor">
            {{ snackMessage }}
        </v-snackbar>
        <vue-confirm-dialog></vue-confirm-dialog>

    </v-app>
</template>


<script>

export default {
    name: "mainmap",
    components: {},
    data: () => {
        return {
            alert: false,
            headers: [
                {text: 'FirstName', value: 'first_name'},
                {text: 'LastName', value: 'last_name'},
                {text: 'DOB', value: 'date_of_birth'},
                {text: 'Gender', value: 'gender'},
                {text: 'HireDate', value: 'hire_date'},
                {text: 'View', value: 'view'},
                {text: 'Delete', value: 'delete'},
            ],
            all_employees: [],
            search: '',
            loadingTable: false,
            snackbar: false,
            snackColor: '',
            snackMessage: '',
            snackBarRight: false,
            snackBarTop: false,
        }
    },
    mounted() {


    },
    destroyed() {
        window.removeEventListener('resize', this.handleResize)
    },
    computed: {},
    watch: {},
    created() {
        this.getEmployees();
    },
    methods: {
        //get all employees to the table
        getEmployees() {
            this.loadingTable = true;
            axios.post('api/employee/getAllEmployees')
                .then(response => {
                    if (response.data.data) {
                        this.all_employees = response.data.data;
                    }
                    this.loadingTable = false;
                }).catch((error) => {
                this.snackMessage = error;
                this.snackColor = 'error';
                this.snackbar = true;
                this.saveLoader = false;
                this.loadingTable = false;
                console.log(error);// this will log an empty object with an error property
            });
        },
        //delete employee data and it's content
        deleteEmployee(emp_no) {

            this.$confirm(
                {
                    message: `Delete Employee ?`,
                    button: {
                        no: 'No',
                        yes: 'Delete'
                    },
                    /**
                     * Callback Function
                     * @param {Boolean} confirm
                     */
                    callback: async confirm => {
                        if (confirm) {
                            axios.post('/api/employee/deleteData', {type: 'employee', id: emp_no})
                                .then(response => {
                                    if (response.data.http_status === 'success') {
                                        this.snackColor = 'success';
                                        let index = _.findIndex(this.all_employees, {'emp_no': emp_no})
                                        this.all_employees.splice(index, 1);
                                    } else {
                                        this.snackColor = 'error';
                                    }
                                    this.snackMessage = response.data.message;
                                    this.snackbar = true;

                                }).catch((error) => {
                                this.snackMessage = error;
                                this.snackColor = 'error';
                                this.snackbar = true;
                                console.log(error);// this will log an empty object with an error property
                            });
                        }
                    }
                });

        }
    }
}
</script>

<style>

#app {
    background-color: #EEEEEE;
}
</style>
